@use 'variaveis';

.hero {
    padding: 5.6vw;
    min-height: 80vh;
    background-image: url(../img-ex/er1hero.png);
    text-align: center;
    background-size: cover;

    @media (max-width: 768px) {
        background-image: url(../img-ex/er1hero.png);
        padding-top: calc(50vw + 25px);
        background-size: contain;
        background-repeat: no-repeat;
        margin-top: -55px;
    }

    .button {
        margin-top: 2vw;
        margin-bottom: 8px;
    }

    &__content {

        &__branding {
            max-width: 800px;
            margin: 0 auto 38px;

            @media (max-width: 768px) {
                margin: 0;
                display:flex;
                // max-width: 0px;
                justify-content: center;
                align-items: center;
                overflow-x: hidden;
            }
        }

        .title--small {
            margin-bottom: 64px;
            color: #3a4e14
        }

        &__combos {
            display: flex;
            justify-content: end;

            @media (max-width: 768px) {
                display: block;
            }

            &__combo {
                width: calc(50% - 12px);

                @media (max-width: 768px) {
                    width: 100%;
                    margin-bottom: 24px;
                }

                img {
                    padding-top: 20vw;
                    
                }
            }
        }
    }
}